/* .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2874f0;
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2874f0;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.footer-text {
    font-size: 24px;
    color: white;
    font-weight: bold;
}